<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/favicon.ico">

    <title><%= title %></title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Public Sans">
	<!-- Google Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/darcula.min.css">
    <!-- Custom styles for this template -->
    <link href="/assets/css.css" rel="stylesheet">
	<script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
     
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<img class="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6e/York_Region_District_School_Board_Logo.svg/1200px-York_Region_District_School_Board_Logo.svg.png" height = "50" width="100" alt="School Board Logo">
        

        <% if (locals.user) { %>
          <span class="navbar text">
            Welcome <%= locals.user.name %>
          </span>
        <% } %>

		<% if (locals.user) { %>
           
			<a class="logout" href="/ds/logout" id="logout"
			   data-busy="href">Logout <span class="sr-only">(current)</span></a>
		  
		<% } else { %>
		 
			<a class="logout" href="/ds/mustAuthenticate" id="login"
			   data-busy="href">Login <span class="sr-only">(current)</span></a>
		  
		<% }  %>

      </div>
    </nav>

    <div class="container">
      <!-- The closing div is in foot.ejs -->
      <% if (locals.session.accountName) { %>
        <!-- <p style="float: right;">
          DocuSign Account: <%= locals.session.accountName %>.
        </p> -->
      <% } %>


      <div class="col-md-12 feedback" id="feedback">
          <h3>Working...&nbsp;&nbsp;&nbsp;<span></span></h3>
      </div>

      <section id="busy" class="feedback"><div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        </div>
      </section>

      <p id="download-continue" class="feedback"><a href="/upcoming_submissions">Continue</a></p>
    </div> <!-- container -->
