<% include ../../partials/examplesHead %>
<!-- <h4>0. My Own Example</h4> -->

<% include ../../partials/docBody %>

<!-- <header>
	<img  src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6e/York_Region_District_School_Board_Logo.svg/1200px-York_Region_District_School_Board_Logo.svg.png" alt="School Board Logo">
</header> -->

<form class="eg" action="" method="post" data-busy="form">

	<div class="form-group">
		<label for="docName">Document Name</label>
		<input type="text" class="form-control" id="docName" placeholder="Museum Field Trip Form" name="docName"
			  value="" required>
	</div>
	<div class="form-group">
		<label for="docDeadline">Deadline</label>
		<input type="datetime-local" class="form-control" id="docDeadline" name="docDeadline"
			  value="" required>
	</div>

	<input type="hidden" id="userInfo" name="userInfo" value=<%= locals.user.email %>> 



	<!-- file input -->
	<input type="file" id="inputFiles" name="inputFiles">
	<input type="hidden" id="fileBase64" name="fileBase64" value="">
	<script>
		const fileSelector = document.getElementById('inputFiles');
		fileSelector.addEventListener('change', (event) => {
		  	const fileList = event.target.files;
			var fileReader = new FileReader();

			fileReader.onload = () => {
				var elem = document.getElementById("fileBase64");
				elem.value = fileReader.result
			}
		
			fileReader.readAsDataURL(fileList[0])
			

			
		});
	</script>
	<!-- file input -->

	<button>
		submit
	</button>

	<input type="hidden" name="_csrf" value="<%- csrfToken %>">

  
</form>

<% include ../../partials/examplesFoot.ejs %>
