<% include ../../partials/examplesHead %>
<!-- <h4>0. My Own Example</h4> -->

<% include ../../partials/docBody %>

<!-- <header>
	<img  src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6e/York_Region_District_School_Board_Logo.svg/1200px-York_Region_District_School_Board_Logo.svg.png" alt="School Board Logo">
</header> -->

<form class="eg" action="" method="post" data-busy="form">

	<div class="form-group">
		<label for="signerEmail">Signer Email</label>
		<input type="email" class="form-control" id="signerEmail" name="signerEmail"
			  aria-describedby="emailHelp" placeholder="pat@example.com" required
			  value="<%= locals.dsConfig.signerEmail %>">
		<small id="emailHelp" class="form-text text-muted">Put your DocuSign email here</small>
	</div>
	<div class="form-group">
		<label for="signerName">Signer Name</label>
		<input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
			  value="<%= locals.dsConfig.signerName %>" required>
	</div>
	<div class="form-group">
		<label for="docName">Document Name</label>
		<input type="text" class="form-control" id="docName" placeholder="Museum Field Trip Form" name="docName"
			  value="" required>
	</div>
	<div class="form-group">
		<label for="docDeadline">Deadline</label>
		<input type="datetime-local" class="form-control" id="docDeadline" name="docDeadline"
			  value="" required>
	</div>

	<input type="hidden" id="userInfo" name="userInfo" value=<%= locals.user.email %>> 

	</div>
		<div class = "header two"><text > Upcoming Submissions</text></div>
	</div>

	<button type="submit" class="btn sidebar">
		<span class="material-icons red600"> schedule </span>
		Upcoming Submissions
	</button>

	<!-- file input -->
	<input type="file" id="inputFile" name="inputFile" multiple>
	<input type="hidden" id="fileBase64" name="fileBase64" value="">
	<script>
		const fileSelector = document.getElementById('inputFile');
		fileSelector.addEventListener('change', (event) => {
		  	const fileList = event.target.files;
			var fileReader = new FileReader();

			fileReader.onload = () => {
				var elem = document.getElementById("fileBase64");
				elem.value = fileReader.result
			}

			fileReader.readAsDataURL(fileList[0])
			
		});
	</script>

	<input type="hidden" name="_csrf" value="<%- csrfToken %>">

	<!-- <div class="form row layout">
		<div class="label name"><text > </text></div>
		<div class="label name"><text >Name</text></div>
		<div class="label status"><text >Status</text></div>
		<div class="label type"><text>Type</text></div>
		<div class="label deadline"><text>Deadline</text></div>
		<input type="hidden" id="envID" name="envID" value="">
		<ul class="forms list">
			<%# forms?.forEach( doc => { %>
			<li class="form item">
                <script>
                    setEnvID = function(envID) {
                        var elem = document.getElementById("envID");
                        elem.value = envID;
                    }
                </script>

				<button onclick=setEnvID("<%#=doc.envelopeId%>")>
					<div class="label name"><strong><%#= doc.emailSubject%></strong></div>
					<div class="label status"><%#= doc.status %></div>
					<div class="label type"><%#= doc.folders[0].folderId %></div>
					<div class="label deadline"><%#= doc.expireDateTime %> </div>
				</button>
			</li>
			<%# }); %>
		</ul>
	</div> -->
  
</form>

<% include ../../partials/examplesFoot.ejs %>
