<% include ../../partials/examplesHead %>


<% include ../../partials/docBody %>


<form class="eg" action="" method="post" data-busy="form">
	<div class="form-group">
		<label for="companyName">Company Name</label>
		<input type="text" class="form-control" id="companyName" name="companyName" value="" required >
	</div>
	<div class="form-group">
		<label for="volunHours">Hours Volunteered</label>
		<input type="number" class="form-control" id="volunHours" name="volunHours" value="" required>
	</div>
    <div class="form-group">
      <label for="signerEmail">Signer Email</label>
      <input type="email" class="form-control" id="signerEmail" name="signerEmail"
             aria-describedby="emailHelp" placeholder="pat@example.com" required
             value="">
    </div>
    <div class="form-group">
      <label for="signerName">Signer Name</label>
      <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
             value="" required>
    </div>
	<input type="hidden" class="form-control" id="ccEmail" name="ccEmail"
			aria-describedby="emailHelp" value="school@yrdsb.com" required>
	
	<input type="hidden" class="form-control" id="ccName" placeholder="Pat Johnson" name="ccName"
			value="school name" required>

    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-docu">Submit</button>
  </form>
  
<% include ../../partials/examplesFoot %>
