<% include ../partials/genericHead %>

<h2 class ="successPage">Thanks for using DocuSign!</h2>

<p><a class = "continueButton" href="/upcoming_submissions">Continue</a></p>
  
<% include ../partials/genericFoot %>
