<% include ../partials/genericHead %>

<h2 class ="successPage">Your e-Signature is now complete!</h2>

<p><a class = "continueButton" href="/upcoming_submissions">Continue</a></p>
  
<% include ../partials/genericFoot %>
