<h2>Welcome</h2>
  <p>This launcher includes the following examples for the DocuSign eSignature REST API.</p>

<% if (showDoc) { %>
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> on using OAuth Authorization Code Grant and
        JWT from a Node Express application.</p>
<% } %>

<% if (locals.dsConfig.multiSourceChooser) { %>
    <h3 class="mt-4">Code Examples for C#, PHP, Java, Node.js, Python, and Curl</h3>
<% } else { %>
    <h3 class="mt-4">Code Examples</h3>
<% } %>


<h4 id="admin_portal"> <a href="admin_portal">Admin Portal</a></h4>
<p> page for uploading documents to be signed.
</p>

<h4 id="submitted_page"> <a href="submitted_page">Submitted Page</a></h4>
<p> Shows all submitted docs
</p>

<h4 id="example111">0. <a href="upcoming_submissions">My Own eg</a></h4>
<p> I created to test how customizable it can be.
</p>


